<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container-wrapper">
    <div class="container">
        <h1 class="title">Welcome to My World</h1>
    </div>
    <div class="login-container">
        <div class="login-content">
            <div class="login-box">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" placeholder="Enter username">
                </div>

                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Enter password">
                </div>

                <button onclick="login()">Login</button>
                <button onclick="window.location.href='signup.html'">Signup</button>
            </div>
        </div>
    </div>
</div>
<script>
    const API_URL = "{{ api_url }}";
</script>
    <!-- Use url_for to load JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
